*{
  margin: 0;
  padding: 0;
}

.fade-enter{
  transform: scale(0.1);
  opacity: 0.05;
}

.fade-enter-active{
  opacity: 1;
  transform: scale(1);
  transition: 800ms ease-out;
}

.fade-exit{
  opacity: 1;
  transform: scale(1);
}

.fade-exit-active{
  transform: scale(0.1);
  opacity: 0.05;
  transition: 800ms ease-in
}